@import "../../../variables.scss";

.content {
  padding: 20px;

  .loading {
    display: flex;
    justify-content: center;
  }

  .table {
    width: 100%;
    background: $background-light;

    .ngx-datatable.material {
      background: $background-light;
      box-shadow: none;
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .content {
    .table {
      padding: 10px;
      margin-top: $small-nav-banner-height;
    }
  }
}
