<div class="tracker">
  <div class="sidebar">
    <app-tracker-nav [routes]="routes"></app-tracker-nav>
  </div>
  <div class="content">
    <app-tracker-timer [info]="timerInfo$ | async"
                       [currentTime]="currentTime$ | async"
                       [platformsOptions]="platformsOptions$ | async"></app-tracker-timer>
    <app-tracker-history [items]="historyItems$ | async"
                         [platformsOptions]="platformsOptions$ | async"></app-tracker-history>
  </div>
</div>
