<div class="content">
  <app-tracker-timer [info]="timerInfo$ | async"
                     [elapsedTime]="elapsedTime$ | async"
                     [platformsOptions]="platformsOptions$ | async"
                     [trackedGames]="trackedGames$ | async"
                     [game]="game$ | async">
  </app-tracker-timer>

  <app-tracker-history [groups]="historyGroupings$ | async"
                       [platformsOptions]="platformsOptions$ | async"
                       [trackedGames]="trackedGames$ | async"></app-tracker-history>

  <div *ngIf="this.showLoadMoreButton$ | async"
       class="load-more-button">
    <app-tracker-load-more></app-tracker-load-more>
  </div>
</div>
