@import "../../../variables.scss";

.content {
  .completion {
    height: 100%;
    padding: 20px;

    .games {
      display: flex;
      justify-content: space-between;

      .playing, .completed {
        width: 50%;
        padding: 10px;
        background: $background-light;
      }

      .playing {
        margin-right: 10px;
      }

      .completed {
        margin-left: 10px;
      }
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .content {
    margin-top: $small-nav-banner-height;

    .completion {
      .games {
        flex-direction: column;

        .playing, .completed {
          margin: 0px;
          width: 100%;
        }

        .playing {
          margin-bottom: 10px;
        }

        .completed {
          margin-top: 10px;
        }
      }
    }
  }
}
