<div class="content">
  <div class="completion">
    Completion

    <div class="games">
      <app-completion-add-playing [gameGroupings]="historyGroupings$ | async"
                                  [games]="games$ | async"
                                  [game]="game$ | async"
                                  [info]="addPlayingInfo$ | async"></app-completion-add-playing>
      <div class="playing drop-shadow">
        <app-completion-playing [items]="playing$ | async"
                                [gameGroupings]="historyGroupings$ | async"
                                [markCompleteEntities]="markCompleteEntities$ | async"></app-completion-playing>
      </div>
      <div class="completed drop-shadow">
        <app-completion-completed [items]="completed$ | async"
                                  [gameGroupings]="historyGroupings$ | async"></app-completion-completed>
      </div>
    </div>
  </div>
</div>
