<div class="header">
  <span class="title">Dashboard - </span>
  <span class="total">{{ totalTime | time }} </span>
  <div class="range-options drop-shadow">
    <select data-tracking-category="dashboardDateRange"
            #dateRangeEl
            [value]="rangeType"
            (change)="updateDateRange(dateRangeEl)">
      <option value="THIS_WEEK">This Week</option>
      <option value="LAST_WEEK">Last Week</option>
      <option value="THIS_MONTH">This Month</option>
      <option value="LAST_MONTH">Last Month</option>
    </select>
  </div>
</div>
