<div class="nav">
  <div class="main">
    <div class="banner">
      <a [routerLink]="bannerRoute.router">{{ bannerRoute.caption }}</a>
    </div>
    <nav>
      <ul>
        <li *ngFor="let route of routes"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: route.exact }">
          <a [routerLink]="route.router">
            <span class="icon">
              <fa-icon [icon]="route.icon"></fa-icon>
            </span>
            <span class="text">{{ route.caption }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="user">
    <div class="info">
      <img class="drop-shadow"
           src="{{ user.photoURL }}">
      <div class="name">{{ user.displayName }}</div>
    </div>
    <div class="logout"
         (click)="logout()">
      <fa-icon [icon]="icons.logout"></fa-icon>
    </div>
  </div>
</div>
