<div class="nav">
  <div class="main">
    <div class="banner">
      <a [attr.data-tracking-category]="bannerRoute.trackingCategory"
         [routerLink]="bannerRoute.router">{{ bannerRoute.caption }}</a>
    </div>

    <nav>
      <ul>
        <li *ngFor="let route of routes"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: route.exact }">

          <a [attr.data-tracking-category]="route.trackingCategory"
             [routerLink]="route.router">
            <span class="icon">
              <fa-icon [icon]="route.icon"></fa-icon>
            </span>
            <span [attr.data-tracking-category]="route.trackingCategory"
                  class="text">{{ route.caption }}</span>
          </a>

        </li>
      </ul>
    </nav>
  </div>

  <div class="user">
    <div class="info">
      <img class="drop-shadow"
           src="{{ user.photoURL }}">
      <div class="name">{{ user.displayName }}</div>
    </div>

    <button data-tracking-category="navLogout"
            class="logout icon-button"
            (click)="logout()">
      <fa-icon [icon]="icons.logout"></fa-icon>
    </button>
  </div>
</div>
