<div class="nav">
  <div class="main">
    <div class="banner">
      <a [routerLink]="bannerRoute.router">{{ bannerRoute.caption }}</a>
    </div>
    <nav>
      <ul>
        <li *ngFor="let route of routes"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: route.exact }">
          <a [routerLink]="route.router">{{ route.caption }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="user">
    <div class="info">
      {{ userName }}
    </div>
    <div class="logout"
         (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </div>
  </div>
</div>
