@import "../../../../../variables.scss";

.nav {
  height: 100vh;
  padding: 30px 15px;

  background: $background-dark;
  color: $text-light;

  .banner {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    a{
      text-decoration: none;
      color: $text-light;
      font-size: 1.1em;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    li{
      display: flex;
      align-items: center;
      height: 45px;
      padding: 0px 10px;
      border-radius: 8px;

      &.active {
        background: $background-dark-accent;
      }

      a{
        color: $text-light;
        text-decoration: none;
      }
    }
  }
}
