<div class="tabs">
  <div data-tracking-category="tabsPlaying"
       class="tab playing"
       [class.active]="visibleTab === 'PLAYING'"
       (click)="setVisibleTab('PLAYING')">
    <div class="title">
      <span class="count">{{ playingCount }}</span> in Progress
    </div>
  </div>

  <div data-tracking-category="tabsCompleted"
       class="tab completed"
       [class.active]="visibleTab === 'COMPLETED'"
       (click)="setVisibleTab('COMPLETED')">
    <div class="title">
      <span class="count">{{ completedCount }}</span> Completed
    </div>
  </div>
</div>
