@import "../../../variables";

.header {
  display: flex;
  height: $header-height;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  .banner {
    margin-left: 30px;

    a {
      img {
        padding: 15px 10px;
        height: $header-height;
      }
    }
  }

  .links {
    display: flex;

    .login, .signUp {
      margin-right: 30px;

      a {
        background: $background-light-accent;
        padding: 15px 10px;
        color: $background-dark;

        &:hover {
          background: darken($background-light-accent, 5%);
        }

        &:active {
          color: $text-light;
        }
      }
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .header {
    .banner {
      margin-left: 15px;
    }

    .links {
      .login, .signUp {
        margin-right: 15px;
      }
    }
  }
}
