<div class="header">
  <div class="banner">
    <a id="bannerLink"
       data-tracking-category="headerBanner"
       [routerLink]="['']">
      <img src="../../../assets/wht_512x_v2.png">
    </a>
  </div>

  <div class="links">
    <div class="signUp">
      <a id="signUpLink"
         data-tracking-category="headerSignUp"
         class="drop-shadow"
         [routerLink]="['register']">Sign Up</a>
    </div>

    <div class="login">
      <a id="loginLink"
         data-tracking-category="headerLogin"
         class="drop-shadow"
         [routerLink]="['login']">Login</a>
    </div>
  </div>
</div>
