@import "../../../../../variables.scss";

.history {
  margin-top: $timer-height + 20px;

  .loading {
    display: flex;
    justify-content: center;
  }

  .items {
    .history-group {
      background: $background-light;
      margin-bottom: 20px;

      .date {
        padding: 30px 15px;
        font-weight: bold;
      }
    }
  }

  .no-items {
    text-align: center;
    padding: 10px 10px;
  }
}



