@import "../../../../../variables.scss";

.history {
  margin-top: $timer-height + 20px;

  .loading {
    display: flex;
    justify-content: center;
  }

  .groups {
    .history-group {
      background: $background-light;
      margin-bottom: 20px;

      .overall-data {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        font-weight: bold;
      }
    }
  }

  .no-groups {
    text-align: center;
    padding: 10px 10px;
  }
}



