@import "variables.scss";

.history {
  margin: $timer-height + 20px 20px 20px 20px;

  .groups {
    .history-group {
      background: $background-light;
      margin-bottom: 20px;

      .overall-data {
        background: $background-dark;
        color: $text-light;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-weight: bold;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .no-groups {
    text-align: center;
    padding: 10px 10px;
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .history {
    margin-top: calc(#{$timer-height} + #{$small-nav-banner-height} + 20px);

    .groups {
      .history-group {
        .overall-data {
          padding: 10px;
        }
      }
    }
  }
}
