@import "variables.scss";

.add-playing {
  display: flex;
  align-items: center;
  background: $background-light;
  height: $timer-height;
  padding: 0px 10px;
  width: 100%;

  .display-element {
    font-size: $base-font-size;
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: $background-light;
  }

  .game {
    width: 45%;

    input {
      @extend .display-element;
      outline: none;
      border: none;
    }
  }

  .platform {
    @extend .display-element-select;
    width: 20%;
  }

  .startTime {
    @extend .display-element-select;
    width: 30%;
  }

  .display-element-select {
    select {
      @extend .display-element;
      outline: none;
      border: none;
      appearance: none;

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        cursor: initial;
      }
    }
  }

  .save {
    width: 5%;

    button {
      color: $good-action-color;

      &:disabled {
        cursor: initial;
        color: $neutral-action-color;
      }
    }
  }
}

@media only screen and (max-width: $small-breakpoint) {
  .add-playing {
    .display-element {
      font-size: $small-font-size;
    }

    .game {
      width: 30%;
      font-size: $small-font-size;

      input {
        text-overflow: ellipsis;
      }
    }

    .platform, .startTime {
      width: 30%;

      select {
        text-overflow: ellipsis;
      }
    }
  }
}
