<div class="add-playing drop-shadow">
  <div class="game">
    <ng-select data-tracking-category="addPlayingGame"
               placeholder="Game"
               [items]="games"
               [(ngModel)]="game"
               (change)="setGame()"
               (clear)="resetInfo()"></ng-select>
  </div>

  <div class="platform">
    <select data-tracking-category="addPlayingPlatform"
            #platformEl
            [value]="info.platform"
            (change)="setPlatform(platformEl)">
      <option value="">Platform</option>
      <option *ngFor="let option of platforms"
              value="{{ option }}">{{ option }}</option>
    </select>
  </div>

  <div class="startTime">
    <select data-tracking-category="addPlayingStartTime"
            #startTimeEl
            [value]="info.startTime"
            (change)="setStartTime(startTimeEl)">
      <option value="0">Start Time</option>
      <option *ngFor="let option of dates"
              value="{{ option }}">{{ option | date:'M/d/y hh:mm a' }}</option>
    </select>
  </div>

  <div class="save">
    <button data-tracking-category="addPlayingSave"
            (click)="savePlaying()">Add Game to Playing</button>
  </div>
</div>
