@import "../../../../../variables.scss";

.locked-history-entry {
  display: flex;
  align-items: center;
  background: $background-light;
  height: $history-entry-height;
  padding: 0px 10px;
  border-bottom: 1px solid darken($background-light, 10%);

  &:hover {
    background: darken($background-light, 5%);

    .primary-action .quickstart {
      display: initial;
    }
  }

  .display-element {
    font-size: $small-font-size;
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: none;
  }

  .game {
    width: 55%;
    font-size: $small-font-size;
  }

  .platform {
    width: 20%;
    font-size: $small-font-size;
  }

  .time {
    @extend .display-element;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

  .lock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    color: lighten($neutral-action-color, 20%);
  }

  .primary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;

    .quickstart {
      color: $good-action-color;
      opacity: .5;
      display: none;
    }
  }
}

@media only screen and (max-width: $small-breakpoint) {
  .locked-history-entry {
    .display-element {
      font-size: calc(#{$small-font-size} - 2px);
    }

    .game {
      width: 30%;
      font-size: calc(#{$small-font-size} - 2px);
  }

    .time {
      width: 45%;
      font-size: calc(#{$small-font-size} - 2px);
    }

    .primary-action {
      width: 10%;
    }

    .lock {
      width: 10%;
    }
  }
}
