<div class="add-playing drop-shadow">
  Add Game to Playing

  <div class="game">
    <ng-select data-tracking-category="addPlayingGame"
               placeholder="Game"
               [items]="getGames()"
               [(ngModel)]="info.game"
               (change)="updateSelection()"></ng-select>
  </div>

  <div class="platform">
    <select data-tracking-category="addPlayingPlatform"
            #platformEl
            [value]="info.platform">
      <option value="">Platform</option>
      <option *ngFor="let option of platforms"
              value="{{ option }}">{{ option }}</option>
    </select>
  </div>

  <div class="startTime">
    <select data-tracking-category="addPlayingStarttime"
            #platformEl
            [value]="info.startTime">
      <option value="">Start Date</option>
      <option *ngFor="let option of dates"
              value="{{ option }}">{{ option | date:'M/d/y hh:mm a' }}</option>
    </select>
  </div>
</div>
