<div class="register">
  <div class="box drop-shadow">

    <form [formGroup]="registerForm"
          (ngSubmit)="emailSignUp()">
      <input type="email"
             data-tracking-category="registerEmail"
             [formControl]="email"
             name="email" />
      <input type="password"
             data-tracking-category="registerPassword"
             [formControl]="password"
             name="password" />
      <input type="submit"
             data-tracking-category="registerSubmit"
             value="Sign Up"
             [disabled]="!registerForm.valid" />
    </form>

    <button id="google-register"
            data-tracking-category="registerGoogle"
            class="register-button drop-shadow"
            (click)="googleSignUp()">
      <fa-icon [icon]="icons.google"></fa-icon>
      Login with Google
    </button>

  </div>
</div>
