@import "../../../../../variables";

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $main-height;

  .register-button {
    border: none;
    color: $background-dark;
    background: $background-light-accent;
    width: 70%;
    padding: 15px;
    font-size: $base-font-size * .75;

    &:hover {
      background: darken($background-light-accent, 5%);
      cursor: pointer;
    }
  }

  .header {
    color: $text-light;
    font-size: 2.5em;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $box-height;
    width: $box-width;
    padding: 20px;
    background: $background-light;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      margin-bottom: 20px;

      input {
        padding: 10px;
        margin-bottom: 5px;
      }

      button {
        width: 100%;
      }
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .register {
    .box {
      height: $box-height * .75;
      width: $box-width * .75;
    }
  }
}
