<div class="completed-item">
  <div class="info">
    <div class="game-info">
      <div class="game">{{ displayData.completedItem.game }}</div>
      <div class="platform">({{ displayData.completedItem.platform }})</div>
    </div>

    <div class="time">
      <div class="played">Playtime: {{ displayData.completedItem.timePlayed | time }}</div>
      <div class="start">Start: {{ displayData.completedItem.startTime | date:'E, M/d/y - hh:mm a' }}</div>
      <div class="end">End: {{ displayData.completedItem.endTime | date:'E, M/d/y - hh:mm a' }}</div>
    </div>

    <div class="notes">
      <div *ngIf="!editNotes"
           class="no-edit">
        <div class="detail"><span>Notes</span>: {{ displayData.item.notes }}</div>
        <button data-tracking-category="completedEditNotes"
                class="icon-button fa-lg"
                (click)="setEditNotes(true)">
          <fa-icon [icon]="icons.edit"></fa-icon>
        </button>
      </div>

      <app-completion-set-notes *ngIf="editNotes"
                                [itemId]="displayData.item.id"
                                [currentNotes]="displayData.item.notes"
                                (finishEdit)="setEditNotes(false)"></app-completion-set-notes>
    </div>
  </div>

  <div class="actions">
    <button data-tracking-category="completedItemRemove"
            class="fa-2x icon-button remove"
            (click)="remove()">
      <fa-icon [icon]="icons.remove"></fa-icon>
    </button>
  </div>
</div>
