@import "variables.scss";

.completed-item {
  border-bottom: 1px solid darken($background-light, 10%);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: $small-font-size;

  .info {
    display: flex;
    flex-direction: column;

    .game-info {
      display: flex;
      align-items: center;

      .game {
        font-weight: bold;
      }

      .platform {
        font-style: italic;
        opacity: .8;
        font-size: 85%;
        margin-left: 5px;
      }
    }

    .time {
      display: flex;
      flex-direction: column;
    }

    .notes {
      height: $profile-field-height;

      span {
        text-decoration: underline;
      }

      .no-edit {
        display: flex;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .actions {
    display: flex;

    .complete {
      color: $good-action-color;
      margin-right: 10px;
    }

    .close {
      color: $bad-action-color;
      margin-right: 10px;
    }

    .remove {
      color: $neutral-action-color;
    }
  }
}
