@import "../../../variables.scss";

.content {
  .loading {
    display: flex;
    justify-content: center;
  }

  .dashboard {
    height: 100%;
    padding: 20px;

    .header {
      height: $dashboard-header-height;

      .title {
        font-size: 2em;
        font-weight: bold;
      }

      .total {
        font-size: 1.5em;
        font-style: italic;
      }

      .range-options {
        display: inline-block;
        background: $background-dark-accent;
        color: $text-light;
        padding: 5px;

        select {
          font-size: $base-font-size;
          font-family: $base-font-family;
          background: inherit;
          color: inherit;
          font-size: 1.5em;
          font-style: italic;
          outline: none;
          border: none;
          appearance: none;

          &:hover {
            cursor: inherit;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .graphs {
      display: flex;
      height: $graphs-height;

      section {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        width: 50%;

        .time-vs-date, .time-vs-game {
          height: 50%;
          width: 100%;
          padding: 10px;
          background: $background-light;

          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }

      aside {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        .time-vs-platform {
          height: 100%;
          width: 100%;
          padding: 10px;
          background: $background-light;
        }
      }
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .content {
    .dashboard {
      .header {
        .title {
          font-size: 1.5em;
        }

        .total {
          font-size: 1em;
        }
      }

      .graphs {
        flex-direction: column;

        section {
          height: 66%;
          width: 100%;
          margin-right: 0px;

          .time-vs-date, .time-vs-game {
            margin-bottom: 20px;
          }
        }

        aside {
          height: 33%;
          width: 100%;
        }
      }
    }
  }
}
