@import "../../../variables.scss";

.content {
  .loading {
    display: flex;
    justify-content: center;
  }

  .dashboard {
    .graphs {
      .graph {
        display: flex;
      }
    }
  }
}
