@import "../../../variables.scss";

.content {
  .loading {
    display: flex;
    justify-content: center;
  }

  .dashboard {
    height: 100%;
    padding: 20px;

    .graphs {
      height: $graphs-height;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;

      > div {
        padding: 10px;
        background: $background-light;
      }

      .time-vs-date {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .time-vs-game {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-right: 10px;
        margin-top: 10px;
      }

      .time-vs-platform {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        margin-left: 10px;
      }
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .content {
    .dashboard {
      padding: 10px;
      margin-top: $small-nav-height;

      .graphs {
        height: $small-graphs-height;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;

        .time-vs-date {
          grid-column: 1 / span 1;
          grid-row: 1 / span 1;
          margin-right: 0px;
          margin-bottom: 10px;
        }

        .time-vs-game {
          grid-column: 1 / span 1;
          grid-row: 2 / span 1;
          margin-right: 0px;
          margin-top: 0px;
          margin-bottom: 10px;
        }

        .time-vs-platform {
          grid-column: 1 / span 1;
          grid-row: 3 / span 1;
          margin-left: 0px;
        }
      }
    }
  }
}
