<div class="content">
  <div *ngIf="isHistoryDataLoading$ | async"
       class="loading">
    <app-shared-spinner></app-shared-spinner>
  </div>
  <div class="dashboard"
       *ngIf="!(isHistoryDataLoading$ | async)">

    <app-dashboard-header [rangeType]="this.dateRangeType$ | async"
                          [totalTime]="this.totalTime$ | async"></app-dashboard-header>

    <div class="graphs">
      <section>
        <div class="time-vs-date drop-shadow">
          <app-dashboard-time-date-graph [data]="timeVsDateGraphData$ | async"
                                         [config]="dateGraphConfig"></app-dashboard-time-date-graph>
        </div>
        <div class="time-vs-game drop-shadow">
          <app-dashboard-time-game-graph [data]="timeVsGameGraphData$ | async"
                                         [config]="gameGraphConfig"></app-dashboard-time-game-graph>
        </div>
      </section>
      <aside>
        <div class="time-vs-platform drop-shadow">
          <app-dashboard-time-platform-graph [data]="timeVsPlatformGraphData$ | async"
                                             [config]="platformGraphConfig"></app-dashboard-time-platform-graph>
        </div>
      </aside>
    </div>
  </div>
</div>
