@import "variables.scss";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: $background-dark;
  background: linear-gradient(180deg, $background-dark 25%, $background-dark-accent 75%);

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;

    .loading {
      justify-content: center;
      align-items: center;
      background: $background-dark-accent;

      .logo {
        padding: 10px;

        img {
          height: auto;
          max-width: 100%;
        }
      }
    }
  }
}
