@import '../variables.scss';

.app {
  display: flex;

  .sidebar {
    width: $sidebar-width;
    position: fixed;
  }

  .content {
    width: $content-width;
    margin-left: $sidebar-width;
  }
}
