<div class="content">
  <div class="profile">
    <section class="user-info drop-shadow">
      <img src="{{ userInfo.imgSrc }}">
      <div class="about">
        <div class="header">About</div>
        <div class="name">
          <div *ngIf="!editName"
               class="no-edit">
            <div class="detail"><span>Display Name</span>: {{ userInfo.displayName }}</div>
            <button class="icon-button"
                    (click)="setEditName(true)"><fa-icon [icon]="icons.edit"></fa-icon></button>
          </div>
          <app-profile-edit-display-name *ngIf="editName"
                                         (finishEdit)="setEditName(false)"></app-profile-edit-display-name>
        </div>
        <div class="email"><span>Email</span>: {{ userInfo.email }}</div>
      </div>
    </section>

    <section *ngIf="userInfo.provider === 'password'"
             class="account drop-shadow">
      <div class="header">Account</div>
      <button data-tracking-category="profileResetPassword"
              (click)="sendResetPasswordLink()">Reset Password</button>
      <div *ngIf="message"
           class="message">{{ message }}</div>
    </section>
  </div>
</div>
