<div class="timer drop-shadow">

  <div class="game">
    <input type="text"
           placeholder="Game name"
           #gameEl
           [value]="info.game"
           (change)="setGame(gameEl)">
  </div>

  <div class="platform">
    <select #platformEl
            [value]="info.platform"
            (change)="setPlatform(platformEl)">
      <option value="">Select Platform</option>
      <option *ngFor="let option of platformsOptions"
              value="{{ option }}">{{ option }}</option>
    </select>
  </div>

  <div class="time"
       [class.active]="info.active">
    <div (click)="openDateTimePicker(startTimeEl)">{{ info.startTime | elapsedTime:currentTime }}</div>

    <div class="date-time-picker">
      <input #startTimeEl
             [owlDateTime]="startTimeDT"
             [owlDateTimeTrigger]="startTimeDT"
             [max]="getCurrentTimeDate()"
             (dateTimeChange)="setStartTime(startTimeEl)">
      <owl-date-time #startTimeDT></owl-date-time>
    </div>
  </div>

  <div class="primary-action">
    <div *ngIf="!info.active"
         class="start fa-2x"
         (click)="startTimer()">
      <fa-icon [icon]="icons.start"></fa-icon>
    </div>
    <div *ngIf="info.active"
         class="stop fa-2x"
         (click)="stopTimer()">
      <fa-icon [icon]="icons.stop"></fa-icon>
    </div>
  </div>

  <div class="secondary-action">
    <div *ngIf="info.active"
         class="cancel fa-lg"
         (click)="cancelTimer()">
      <fa-icon [icon]="icons.cancel"></fa-icon>
    </div>
  </div>
</div>
