<div class="timer">
  <div class="game">
    <input type="text"
           #gameEl
           [value]="game"
           (change)="setGame(gameEl)">
  </div>
  <div class="platform">
    <select #platformEl
            [value]="platform"
            (change)="setPlatform(platformEl)">
      <option value="">Select Platform</option>
      <option *ngFor="let platform of platforms"
              value="{{ platform }}">{{ platform }}</option>
    </select>
  </div>
  <div class="time">
    {{ elapsedTime }}
  </div>
  <div class="actionButton">
    <button *ngIf="!active"
            class="start"
            (click)="startTimer()">Start</button>
    <button *ngIf="active"
            class="stop"
            (click)="stopTimer()">Stop</button>
  </div>

</div>
