<div class="timer drop-shadow">
  <div class="game">
    <input type="text"
           placeholder="Game name"
           #gameEl
           [value]="info.game"
           (change)="setGame(gameEl)">
  </div>
  <div class="platform">
    <select #platformEl
            [value]="info.platform"
            (change)="setPlatform(platformEl)">
      <option value="">Select Platform</option>
      <option *ngFor="let platform of info.platforms"
              value="{{ platform }}">{{ platform }}</option>
    </select>
  </div>
  <div class="time">
    {{ info.startDate | elapsedTime:currentTime }}
  </div>
  <div class="primary-action">
    <div *ngIf="!info.active"
         class="start fa-2x"
         (click)="startTimer()">
      <i class="fas fa-play-circle"></i>
    </div>
    <div *ngIf="info.active"
         class="stop fa-2x"
         (click)="stopTimer()">
      <i class="fas fa-stop-circle"></i>
    </div>
  </div>
  <div class="secondary-action">
    <div *ngIf="info.active"
         class="cancel fa-lg"
         (click)="cancelTimer()">
      <i class="fas fa-ban"></i>
    </div>
  </div>
</div>
