@import "../../../../../variables.scss";

.timer {
  display: flex;
  align-items: center;
  background: $background-light;
  height: $timer-height;
  padding: 0px 10px;
  position: fixed;
  width: $content-width;
  z-index: 70;

  .display-element {
    font-size: $base-font-size;
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: $background-light;
  }

  .game {
    width: 55%;

    input {
      @extend .display-element;
      outline: none;
      border: none;
    }
  }

  .platform {
    width: 20%;

    select {
      @extend .display-element;
      outline: none;
      border: none;
      appearance: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .time {
    @extend .display-element;
    display: flex;
    justify-content: center;
    width: 15%;

    &.active:hover{
      cursor: pointer;
    }

    .date-time-picker {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }

  .primary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;

    .start {
      color: $good-action-color;

      &:hover {
        cursor: pointer;
      }
    }

    .stop {
      color: $bad-action-color;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .secondary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;

    .cancel {
      color: $neutral-action-color;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen  and (max-width : $medium-breakpoint) {
  .timer {
    width: $small-content-width;
  }
}

@media only screen and (max-width: $small-breakpoint) {
  .timer {
    width: 100%;
    margin-top: $small-nav-height;

    .display-element {
      font-size: $small-font-size;
    }

    .game {
      width: 30%;

      input {
        text-overflow: ellipsis;
      }
    }

    .platform {
      width: 25%;

      select {
        text-overflow: ellipsis;
      }
    }

    .time {
      width: 25%;
    }

    .primary-action {
      width: 10%;
    }

    .secondary-action {
      width: 10%;
    }
  }
}
