<div class="home">
  <section class="tagline">
    <div class="text">{{ tagline }}</div>
  </section>

  <section class="about">
    <div class="column drop-shadow">
      <h1>Track playtime on any platform</h1>
      <p>We support over 15 different platforms</p>
    </div>

    <div class="column drop-shadow">
      <h1>Get detailed graphs on playtime</h1>
      <p>Learn how you spend your time when you game</p>
    </div>

    <div class="column drop-shadow">
      <h1>Mark games as complete as you finish them</h1>
      <p>Hold yourself accountable to that backlog you've accrued</p>
    </div>
  </section>
</div>
