@import "../../../variables";

.home {
  color: $text-light;

  .tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $main-height;

    .text {
      width: 50%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3.5em;
      text-align: center;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    }

    .about {
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;

      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        padding: 10px;

        h1 {
          text-transform: uppercase;
          width: 80%;
          text-align: center;
        }
      }
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .home {
    .tagline {
      width: 100%;
      font-size: 2em;

      .about {
        flex-direction: column;
      }
    }
  }
}
