@import "../../../variables";

.home {
  color: $text-light;

  .tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $main-height;

    .text {
      width: 50%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3.5em;
      text-align: center;
      text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    }
  }

  .about {
    background: $background-dark;
    display: flex;
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .home {
    .tagline {
      width: 100%;
      font-size: 2em;
    }
  }
}
