<div class="nav"
     [class.hide]="hideNavContents">
  <div class="main">
    <div class="banner">
      <div class="menu"
           (click)="toggleNav()"
           data-tracking-category="navBannerMenu">
        <fa-icon *ngIf="hideNavContents"
                 id="showMenuIcon"
                 [icon]="icons.menu"></fa-icon>
        <fa-icon *ngIf="!hideNavContents"
                 id="hideMenuIcon"
                 [icon]="icons.close"></fa-icon>
      </div>
      <a id="navBannerLink"
         [attr.data-tracking-category]="bannerRoute.trackingCategory"
         [routerLink]="bannerRoute.router">
        <span class="text">{{ bannerRoute.caption }}</span>
        <img class="text-logo"
             src="../../../assets/wht_512x.png">
        <img class="no-text-logo"
             src="../../../assets/wht_512x512.png">
      </a>
    </div>

    <nav>
      <ul>
        <li *ngFor="let route of routes"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: route.exact }">

          <a [id]="route.trackingCategory + 'Link'"
             [attr.data-tracking-category]="route.trackingCategory"
             [routerLink]="route.router">
            <span class="icon">
              <fa-icon [icon]="route.icon"></fa-icon>
            </span>
            <span [attr.data-tracking-category]="route.trackingCategory"
                  class="text">{{ route.caption }}</span>
          </a>

        </li>
      </ul>

      <ng-adsense></ng-adsense>
    </nav>
  </div>

  <div class="user">
    <div class="info">
      <a [attr.data-tracking-category]="profileRoute.trackingCategory"
         [routerLink]="profileRoute.router">
        <img class="drop-shadow"
             src="{{ userInfo.imgSrc }}">
        <div class="name">{{ userInfo.displayName }}</div>
      </a>
    </div>

    <button id="logoutButton"
            data-tracking-category="navLogout"
            class="logout icon-button"
            (click)="logout()">
      <span class="text">Logout</span>
      <span class="icon">
        <fa-icon [icon]="icons.logout"></fa-icon>
      </span>
    </button>
  </div>
</div>
