@import "../../../variables.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: $background-dark;
  color: $text-light;
  width: $sidebar-width;
  position: fixed;

  .main {
    padding: 0px 15px;

    .banner {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 30px 0px;

      .menu {
        display:none;
      }

      a{
        text-decoration: none;

        .text {
          color: $text-light;
          font-size: 1.1em;
          display: none;
          font-weight: bold;
          text-transform: uppercase;
        }

        .no-text-logo {
          display: none;
        }

        img {
          width: 100%;
        }
      }
    }

    nav {
      ul {
        padding: 0;
        list-style: none;

        li{
          border-radius: 8px;
          margin-bottom: 5px;

          .static {
            display: none;
          }

          &.active {
            background: $background-dark-accent;

            a {
              .dynamic {
                display: none;
              }

              .static {
                display: block;
              }
            }
          }

          &:hover {
            background: $background-dark-accent;
            cursor: pointer;
          }

          a{
            color: $text-light;
            text-decoration: none;

            display: flex;
            align-items: center;
            height: 45px;
            padding: 0px 10px;

            .icon {
              margin-right: 5px;
              pointer-events: none;
            }

            .text {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  .user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px 15px;
    font-size: .7em;
    background: darken($background-dark, 10%);

    .info a {
      text-decoration: none;
      color: $text-light;
      display: flex;
      align-items: center;

      img {
        width: 50px;
        border-radius: 50%;
      }

      .name {
        padding: 5px;
      }
    }

    .logout {
      font-size: $base-font-size;
      color: $text-light;

      .text {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : $medium-breakpoint) {
  .nav {
    width: $small-sidebar-width;

    .main {
      .banner {
        a {
          .no-text-logo {
            display: block;
          }

          .text-logo {
            display: none;
          }
        }
      }

      nav {
        ul {
          li {
            a {
              justify-content: center;
              height: 60px;

              .icon {
                font-size: 2em;
              }

              .text {
                display: none;
              }
            }
          }
        }
      }
    }

    .user {
      .info a {
        .name {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width : $small-breakpoint) {
  .nav {
    width: 100%;
    z-index: 70;

    &.hide {
      height: $small-nav-banner-height;

      .main {
        nav, ng-adsense {
          display: none;
        }
      }
      .user {
        display: none;
      }
    }

    .main {
      .banner {
        margin: 6px 0px;

        .menu {
          display: flex;
          justify-self: flex-start;
          font-size: 1.25em;

          &:hover {
            cursor: pointer;
          }
        }

        a{
          width: 100%;

          .text {
            display: block;
          }

          .text-logo, .no-text-logo {
            display: none;
          }
        }
      }

      nav {
        ul {
          li {
            a {
              height: 20px;
              padding: 0px 5px;

              .icon {
                display: none;
              }

              .text {
                display: block;
              }

              .text.dynamic {
                display: none;
              }
            }
          }
        }
      }
    }

    .user {
      padding: 5px;

      .info a {
        .name {
          display: block;
        }
      }

      .logout {
        font-size: $small-font-size;

        .icon {
          display: none;
        }

        .text {
          display: block;
        }
      }
    }
  }
}
