@import "../../../../../variables.scss";

.history-entry {
  display: flex;
  align-items: center;
  background: $background-light;
  height: 80px;
  padding: 0px 10px;
  border-bottom: 1px solid darken($background-light, 10%);

  &:hover {
    background: darken($background-light, 5%);
  }

  .display-element {
    font-size: $base-font-size - 3px;
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: inherit;
  }

  .game {
    width: 55%;
    input {
      @extend .display-element;
      outline: none;
      border: none;
    }
  }

  .platform {
    width: 20%;
    select {
      @extend .display-element;
      outline: none;
      border: none;
      appearance: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .time {
    @extend .display-element;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;

    .start-end {
      &:hover{
        cursor: pointer;
      }
    }

    .date-time-picker {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }

  .primary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;

    .remove {
      color: $neutral-action-color;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
