@import "../../../../../variables.scss";

.history-entry {
  display: flex;
  align-items: center;
  background: $background-light;
  height: $history-entry-height;
  padding: 0px 10px;
  border-bottom: 1px solid darken($background-light, 10%);

  &:hover {
    background: darken($background-light, 5%);
  }

  .display-element {
    font-size: $small-font-size;
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: none;
  }

  .game {
    width: 55%;
    input {
      @extend .display-element;
      outline: none;
      border: none;
    }
  }

  .platform {
    width: 20%;
    select {
      @extend .display-element;
      outline: none;
      border: none;
      appearance: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .time {
    @extend .display-element;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;

    .start-end, .elapsed {
        &:hover{
        cursor: pointer;
      }
    }

    .date-time-picker {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }

  .primary-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;

    .remove {
      color: $neutral-action-color;
    }
  }
}

@media only screen and (max-width: $small-breakpoint) {
  .history-entry {
    .display-element {
      font-size: calc(#{$small-font-size} - 2px);
    }

    .game {
      width: 30%;

      input {
        text-overflow: ellipsis;
      }
    }

    .platform {
      select {
        text-overflow: ellipsis;
      }
    }

    .time {
      width: 45%;
    }
  }
}

