@import "../../../../../variables.scss";

.history-entry {
  display: flex;
  align-items: center;
  background: $background-light;
  height: 80px;
  padding: 0px 10px;
  margin-bottom: 5px;

  .display-element {
    font-size: $base-font-size - 3px;
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: $background-light;
  }

  .game {
    width: 50%;
    input {
      @extend .display-element;
      outline: none;
      border: none;
    }
  }

  .platform {
    width: 20%;
    select {
      @extend .display-element;
      outline: none;
      border: none;
      appearance: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .time {
    @extend .display-element;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

  .actionButton {
    width: 10%;
  }
}
