<div class="history-entry">
  <div class="game">
    <input type="text"
           placeholder="Game name"
           #gameEl
           [value]="item.game"
           (change)="updateGame(gameEl)">
  </div>

  <div class="platform">
    <select #platformEl
            [value]="item.platform"
            (change)="updatePlatform(platformEl)">
      <option value="">Select Platform</option>
      <option *ngFor="let option of platformsOptions"
              value="{{ option }}">{{ option }}</option>
    </select>
  </div>

  <div class="time">
    <div class="start-end"
         (click)="openDateTimePicker(elapsedTimeEl)">
      {{ item.startTime | date:'shortTime' }} - {{ item.endTime | date:'shortTime' }}
    </div>

    <div class="date-time-picker">
      <input #elapsedTimeEl
             [(ngModel)]="item.dateRange"
             [selectMode]="'range'"
             [owlDateTime]="elapsedTimeDT"
             [owlDateTimeTrigger]="elapsedTimeDT"
             (dateTimeChange)="updateElapsedTime(elapsedTimeEl)">
      <owl-date-time #elapsedTimeDT></owl-date-time>
    </div>

    <div class="elapsed"
         (click)="openDateTimePicker(elapsedTimeEl)">
      {{ item.startTime | elapsedTime:item.endTime }}
    </div>
  </div>

  <div class="primary-action">
    <div class="remove fa-lg"
         (click)="remove()">
      <fa-icon [icon]="icons.remove"></fa-icon>
    </div>
  </div>
</div>
