<div class="history-entry drop-shadow">
  <div class="game">
    <input type="text"
           placeholder="Game name"
           #gameEl
           [value]="item.game"
           (change)="updateGame(gameEl)">
  </div>
  <div class="platform">
    <select #platformEl
            [value]="item.platform"
            (change)="updatePlatform(platformEl)">
      <option value="">Select Platform</option>
      <option *ngFor="let platform of platforms"
              value="{{ platform }}">{{ platform }}</option>
    </select>
  </div>
  <div class="time">
    <div>
      {{ item.startDate | date:'shortTime' }} - {{ item.endDate | date:'shortTime' }}
    </div>
    <div class="elapsed">
      {{ item.startDate | elapsedTime:item.endDate}}
    </div>
  </div>
  <div class="primary-action">
    <div class="remove fa-lg"
         (click)="remove()">
      <i class="fas fa-ban"></i>
    </div>
  </div>
</div>
