<div class="auth-form">
  <div class="header">
    {{ trackingCategory }}
  </div>

  <div class="box drop-shadow">
    <form [formGroup]="authForm"
          (ngSubmit)="emitEmailAuth()">
      <input type="email"
             [attr.data-tracking-category]="trackingCategory + 'Email'"
             formControlName="email"
             name="email"
             placeholder="Email" />
      <input type="password"
             [attr.data-tracking-category]="trackingCategory + 'Password'"
             formControlName="password"
             name="password"
             placeholder="Password" />
      <button type="submit"
              [attr.data-tracking-category]="trackingCategory + 'Submit'"
              [disabled]="!authForm.valid"
              class="auth-button drop-shadow">{{ trackingCategory }}</button>
      <div *ngIf="showMessage"
           class="message">{{ message }}</div>
    </form>

    <ng-content></ng-content>

    <div class="providers">
      <button id="google-auth"
              [attr.data-tracking-category]="trackingCategory + 'Google'"
              class="auth-button drop-shadow"
              (click)="emitGoogleAuth()">
        <fa-icon [icon]="icons.google"></fa-icon>
        {{ trackingCategory }} with Google
      </button>

      <button id="facebook-auth"
              [attr.data-tracking-category]="trackingCategory + 'Facebook'"
              class="auth-button drop-shadow"
              (click)="emitFacebookAuth()">
        <fa-icon [icon]="icons.facebook"></fa-icon>
        {{ trackingCategory }} with Facebook
      </button>
    </div>
  </div>
</div>
