@import "../../../../../variables";

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $main-height;

  .auth-button {
    border: none;
    color: $background-dark;
    background: $background-light-accent;
    width: 70%;
    padding: 15px;
    font-size: $base-font-size * .75;

    &:hover:not(:disabled) {
      background: darken($background-light-accent, 5%);
      cursor: pointer;
    }

    &:disabled {
      background: lighten($background-light-accent, 5%);
      color: lighten($background-dark, 5%);
    }
  }

  .header {
    color: $text-light;
    font-size: 2.5em;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $box-height;
    width: $box-width;
    padding: 20px;
    background: $background-light;

    .auth-button {
      margin-top: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;

      input {
        padding: 10px;
        margin-bottom: 5px;
      }

      button {
        width: 100%;
        margin-top: 0px;
      }
    }

    .providers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

@media only screen  and (max-width : $small-breakpoint) {
  .auth-form {
    .box {
      height: $box-height * .75;
      width: $box-width * .75;
    }
  }
}
