<div class="edit-notes">
  <input data-tracking-category="completionEditNotesInput"
         type="text"
         placeholder="Notes..."
         [value]="currentNotes"
         #notes>
  <div class="actions">
    <button data-tracking-category="completionEditNotesConfirm"
            class="confirm icon-button fa-lg"
            (click)="setNotes(notes)">
      <fa-icon [icon]="icons.confirm"></fa-icon>
    </button>

    <button data-tracking-category="completionEditNotesCancel"
            class="cancel icon-button fa-lg"
            (click)="emitFinishEdit()">
      <fa-icon [icon]="icons.cancel"></fa-icon>
    </button>
  </div>
</div>
