@import "variables.scss";

.playing-item {
  border-bottom: 1px solid darken($background-light, 10%);
  padding: 10px;
  font-size: $small-font-size;

  .display-element {
    font-family: $base-font-family;
    width: 100%;
    padding: 5px;
    background: $background-light;
  }

  .main {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .info {
      display: flex;
      flex-direction: column;

      .game-info {
        display: flex;
        align-items: center;

        .game {
          font-weight: bold;
        }

        .platform {
          font-style: italic;
          opacity: .8;
          font-size: 85%;
          margin-left: 5px;
        }
      }

      .time {
        display: flex;
        flex-direction: column;
      }
    }

    .actions {
      display: flex;

      .complete {
        color: $good-action-color;
        margin-right: 10px;
      }

      .close {
        color: $bad-action-color;
        margin-right: 10px;
      }

      .remove {
        color: $neutral-action-color;
      }
    }
  }

  .extra {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: darken($background-light, 20%);

    .endTime   {
      width: 50%;
      margin-right: 5px;

      select {
        @extend .display-element;
        outline: none;
        border: none;
        appearance: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .complete {
      width: 50%;
      margin-left: 5px;

      button {
        width: 100%;
        background: $background-dark;
        color: $text-light;
        border: none;
        height: 100%;

        &:disabled {
          background: $background-dark-accent;
          cursor: not-allowed;
        }

        &:hover:enabled {
          cursor: pointer;
        }
      }
    }
  }
}
