<div class="playing-item">
  <div class="main">
    <div class="info">
      <div class="game-info">
        <div class="game">{{ displayData.startEntryData.game }}</div>
        <div class="platform">({{ displayData.startEntryData.platform }})</div>
      </div>
      <div class="time">
        <div class="played">Playtime: {{ displayData.timePlayed | time }}</div>
        <div class="start">Start: {{ displayData.startEntryData.startTime | date:'M/d/y - hh:mm a' }}</div>
      </div>
    </div>

    <div class="actions">
      <button *ngIf="!displayData.markComplete.showExtra"
              data-tracking-category="playingItemShowExtra"
              class="fa-2x icon-button complete"
              (click)="toggleShowExtra()">
        <fa-icon [icon]="icons.complete"></fa-icon>
      </button>
      <button *ngIf="displayData.markComplete.showExtra"
              data-tracking-category="playingItemCloseExtra"
              class="fa-2x icon-button close"
              (click)="toggleShowExtra()">
        <fa-icon [icon]="icons.close"></fa-icon>
      </button>
      <button data-tracking-category="playingItemRemove"
              class="fa-2x icon-button remove"
              (click)="remove()">
        <fa-icon [icon]="icons.remove"></fa-icon>
      </button>
    </div>
  </div>

  <div class="extra"
       *ngIf="displayData.markComplete.showExtra">
    <div class="endTime">
      <select data-tracking-category="playingItemEndTime"
              #endTimeEl
              [value]="displayData.markComplete.endTime"
              (change)="setEndTime(endTimeEl)">
        <option value="0">End Time</option>
        <option *ngFor="let option of displayData.endDates"
                value="{{ option }}">{{ option | date:'M/d/y hh:mm a' }}</option>
      </select>
    </div>
    <div class="complete">
      <button data-tracking-category="playingItemSave"
              [disabled]="displayData.markComplete.endTime === 0"
              (click)="markComplete()">Mark Completed</button>
    </div>
  </div>
</div>