// global variables
$base-font-size: 22px;
$base-font-family: Arial, Helvetica, sans-serif;

$background-dark: #533a7b;
$background-dark-accent: #8d69c6;
$text-light: #e9f1f7;

$background-light: #f1f5f2;
$background-light-accent: #ddd8ff;

$good-action-color: green;
$bad-action-color: red;
$neutral-action-color: grey;

// tracker variables
$sidebar-width: 250px;
$content-width: calc(100% - #{$sidebar-width});

// app component variables
$header-height: 100px;
$main-height: calc(100% - #{$header-height});

// tracker variables
$timer-height: 100px;
