<ngx-charts-bar-vertical [view]="config.view"
                         [scheme]="config.colorScheme"
                         [results]="data"
                         [gradient]="config.gradient"
                         [xAxis]="config.showXAxis"
                         [yAxis]="config.showYAxis"
                         [legend]="config.showLegend"
                         [showXAxisLabel]="config.showXAxisLabel"
                         [showYAxisLabel]="config.showYAxisLabel"
                         [xAxisLabel]="config.xAxisLabel"
                         [yAxisLabel]="config.yAxisLabel"
                         [yAxisTickFormatting]="config.axisTickFormatting">
</ngx-charts-bar-vertical>
