<div class="wrapper">
  <ngx-charts-bar-vertical [view]="config.view"
                           [scheme]="config.colorScheme"
                           [results]="data"
                           [gradient]="config.gradient"
                           [xAxis]="config.showXAxis"
                           [yAxis]="config.showYAxis"
                           [legend]="config.showLegend"
                           [showXAxisLabel]="config.showXAxisLabel"
                           [showYAxisLabel]="config.showYAxisLabel"
                           [xAxisLabel]="config.xAxisLabel"
                           [yAxisLabel]="config.yAxisLabel"
                           [yAxisTickFormatting]="config.axisTickFormatting"
                           [animations]="config.animations"
                           [showGridLines]="config.showGridLines"
                           [yScaleMax]="config.scaleMax">
    <ng-template #tooltipTemplate
                 let-model="model">
      <app-dashboard-graph-tooltip [model]="model"></app-dashboard-graph-tooltip>
    </ng-template>
  </ngx-charts-bar-vertical>
</div>
