<div class="forgot-password">
  <div class="header">
    Forgot Password
  </div>

  <div class="box drop-shadow">
    <form [formGroup]="passwordForm"
          (ngSubmit)="resetPassword()">
      <input type="email"
             data-tracking-category="forgotPasswordEmail"
             formControlName="email"
             name="email"
             placeholder="Email" />
      <button type="submit"
              data-tracking-category="forgotPasswordSubmit"
              [disabled]="!passwordForm.valid"
              class="auth-button drop-shadow">Reset Password</button>
      <div class="message">{{ message }}</div>
    </form>
  </div>
</div>
