<ngx-charts-pie-chart [view]="config.view"
                      [scheme]="config.colorScheme"
                      [results]="data"
                      [legend]="config.showLegend"
                      [explodeSlices]="config.explodeSlices"
                      [labels]="config.showLabels"
                      [doughnut]="config.doughnut"
                      [gradient]="config.gradient"
                      [animations]="config.animations">
  <ng-template #tooltipTemplate
               let-model="model">
    <app-dashboard-graph-tooltip [model]="model"></app-dashboard-graph-tooltip>
  </ng-template>
</ngx-charts-pie-chart>
